<%= form_with(model: project, local: true) do |form| %>
  <% if project.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(project.errors.count, "error") %> prohibited this project from being saved:</h2>

      <ul>
      <% project.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :project_name %>
  </div>

  <div class="field">
    <%= form.label :target_point %>
    <%= form.number_field :target_point, id: :project_target_point %>
  </div>

  <div class="field">
    <%= form.label :message %>
    <%= form.text_area :message, id: :project_message %>
  </div>

  <div class="field">
    <%= form.label :user_id %>
    <%= form.number_field :user_id, id: :project_user_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
